.dashboard--wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.dashboard--cards {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  justify-content: space-evenly;
}

.dashboard--cards::-webkit-scrollbar {
  background-color: transparent;
  width: 7px;
}

.dashboard--cards::-webkit-scrollbar-thumb {
  background-color: rgb(49, 49, 49);
  border-radius: 10px;
}

.dashboard--recipient-card {
  display: flex;
  align-items: center;
  min-width: 100px;
  max-width: 200px;
  margin: 10px;
  font-size: 1.5rem;
}
.dashboard--recipient-card > p {
  margin-left: 3px;
}

.dashboard--recipient-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
