.dashboard--wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.dashboard--modal-wrapper {
  position: absolute;
  top: 0px;
  width: 500px;
  height: 300px;
  left: calc(50% - 250px);
  top: calc(50% - 150px);
  padding: 10px;
  background-color: #f59e0b;
  border-radius: 5px;
}

.dashboard--modal-form {
  height: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard--modal-input {
  width: 400px;
  margin-top: 10px;
  font-size: 1.5rem;
}
.dashboard--modal-input-2 {
  font-size: 1.5rem;
  width: 340px;
  margin-top: 10px;
}

.dashboard--modal-add-btn {
  color: white;
  background-color: rgb(5, 148, 5);
  width: 50px;
  margin-left: 10px;
  font-size: 1.5rem;
}

.dashboard--cards {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  justify-content: space-evenly;
}

.dashboard--cards::-webkit-scrollbar {
  background-color: transparent;
  width: 7px;
}

.dashboard--cards::-webkit-scrollbar-thumb {
  background-color: rgb(49, 49, 49);
  border-radius: 10px;
}

.dashboard--recipient-card {
  display: flex;
  align-items: center;
  min-width: 100px;
  max-width: 200px;
  margin: 10px;
  font-size: 1.5rem;
}
.dashboard--recipient-card > p {
  margin-left: 3px;
}

.dashboard--recipient-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
