.Card {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: #334155;
  margin: 0px;
  padding: 0px;
  position: relative;
}

.Card-1 {
  height: 400px;
  width: 500px;
  margin-right: 40px;
}

.Card-2 {
  height: 400px;
  width: 500px;
  margin-left: 10px;
}

.img {
  height: 230px;
}

.img2 {
  height: 230px;
}
